.horizontal-logo-nav{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.horizontal-logo-nav .footer-nav{
    border-top: 3px solid white;
    border-bottom: none;
}


.cv-section-content{
    border-top:2px solid blue;
}

.horizontal-logo-nav img{
    width:50px;
}

.cv-section-title{
    font-size:3em;
}

.cv-section h3{
    font-size: 2em;
}

.cv-section h6,.proficiency-list{
    font-size: 1em;
}

.cv-section p{
    font-size: 1em;
}

.cv-section-content{
    border-top:2px solid blue;
}