<footer>
  <nav>
    <h1 class="my-email"> ismael.c.s.a@hotmail.com </h1> 
    
    <ul class="nav-list footer-menu">
      <li class="nav-list-item"> <%= image_tag 'linkedin_white', class: 'footer-logo' %> </i> </li>
      <li class="nav-list-item"> <%= image_tag 'github_white', class: 'footer-logo' %> </i> </li>
      <li class="nav-list-item"> <%= image_tag 'lattes_white', class: 'footer-logo' %> </i> </li>
      <li class="nav-list-item"> <%= image_tag 'researchgate_white', class: 'footer-logo' %> </i> </li>
    </ul>
  </nav>
</footer>