<section id="about-me-section">
   <div id="about-me-content">
      <%= image_tag  'my_avatar.png' %>

      <h2  id="greetings">Hi, I'm Ismael Cesar</h2>
      <p id="about-me-description">
         Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
         Suspendisse in tempor arcu. 
         Praesent non ipsum justo. 
      </p>
   </div>
</section>