<h1>About Me</h1>

<%= image_tag  'my_avatar.png' %>

<h2>Hi, I'm Ismael Cesar</h2>
<p>
   Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
   Suspendisse in tempor arcu. 
   Praesent non ipsum justo. 
</p>