<section id="languages-section">
  <h1 class="section-title"> <%= I18n.t('site_sections.languages') %></h1>

  <% languages.each do |language| %>
    <div class="language-container">
      <div class="language-item">
        <p class="language-name">
          <%= language.name.capitalize %>
        </p>
        <div class="language-level">
          <% if language.is_native %>
            <p> Native speaker </p>
          <% else %>
            <p>
              <ul>
                <% language.language_skills.zip(language.language_skill_levels).each do |l_skill, l_skill_level| %>
                  <li> <%= l_skill.skill_type.capitalize %>: <%= l_skill_level.skill_level_type.capitalize %></li>
                <% end %>
              </ul>
            </p>
          <% end  %>
        </div>
      </div>
    </div>
  <% end %>
</section>