<section id="other-skills-section">
  <h1 class="section-title"><%= I18n.t('site_sections.other_skills') %></h1>

  <ul>
    <li>Latex</li>
    <li><strong> SQL</strong>
        <ul>  
          <li> MySql</li>
          <li> Postgresql</li>
        </ul>
    </li>
    <li>Git</li>
    <li> Rails </li>
  </ul>
</section>
