<section id="other-skills-section">
  <h1 class="section-title"><%= I18n.t('site_sections.other_skills') %></h1>

  <ul id="skill-list">
    <li class="skill-item">Latex</li>
    <li><strong> Databases</strong>
        <ul>  
          <li> MySql</li>
          <li> Postgresql</li>
        </ul>
    </li>
    <li class="skill-item">Git</li>
    <li class="skill-item"> Rails </li>
  </ul>
</section>
