
<h1> <%= I18n.t('site_sections.projects') %> </h1>

<% projects.each do |project| %>
  <div>
    <h5><%= project.title %></h5>
    <p>
      <p> Coordenador: <em> <%= project.coordinator.name %> </em> </p>
      <%= project.description %>
    </p>
  </div>
<% end %>