<section class="programming-languages">
  <h1><%= I18n.t('site_sections.programming_languages')%></h1>

  <ul>
    <li> 
        <i class="programming lang-ruby"></i>
          Ruby 
    </li>
    <li> Python</li>
    <li> C</li>
    <li> Java</li>
    <li> JavaScript</li>
  </ul>
</section>
