<section id="programming-languages-section">
  <h1 class="section-title"><%= I18n.t('site_sections.programming_languages')%></h1>

  <ul>
    <li> 
        <!-- <i class="programming-lang-logo lang-ruby"></i> -->
          <p> Ruby </p>
    </li>
    <li> 
        <!-- <i class="programming-lang-logo lang-python"></i> -->
        <p> Python </p>
    </li>
    <li>
        <!-- <i class="programming-lang-logo lang-c"></i> -->
        <p> C </p>
    </li>
    <li> 
        <!-- <i class="programming-lang-logo lang-java"></i>  -->
        <p> Java </p>
    </li>
    <li> 
        <!-- <i class="programming-lang-logo lang-javascript"></i> -->
        <p> JavaScript </p>
    </li>
  </ul>
</section>
