
<h1>Publications</h1>

<% publications.each do |publication| %>
  <div>
    <h2> <%= publication.title %> </h2>
    <p> 
      <% publication.authors.each do |author| %>
        <em> <%= author.name %>, </em>
      <% end %>
    </p>
    <p> <%= publication.publication_place %> </p>
  </div>
<% end %>