
<h1><%= I18n.t('site_sections.publications') %></h1>

<% publications.each do |publication| %>
  <div>
    <h5> <%= publication.title %> </h5>
    <p> 
      <% publication.authors.each do |author| %>
        <em> <%= author.name %>, </em>
      <% end %>
    </p>
    <p> <%= publication.publication_place %> </p>
  </div>
<% end %>