/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

  /*Configuring and defining font families*/
  @font-face {
    font-family: 'PoiretOne'; 
    src: url('PoiretOne-Regular.woff');
  }

  @font-face { 
    font-family: 'Raleway-Regular'; 
    src: url('Raleway/Raleway-Regular.ttf')
  }

  @font-face { 
    font-family: 'Raleway-Italic'; 
    src: url('Raleway/Raleway-Italic.ttf')
  }

  @font-face{
    font-family: 'Raleway-Bold'; 
    src: url('Raleway/Raleway-Bold.ttf')
  }

  @font-face { 
    font-family: 'button-text'; 
    src: url('Raleway/Raleway-Thin.ttf')
  }

  html{
    height: 0;
  }

  h1, h2, h3, h4, h5, strong {
    font-family: 'Raleway-Bold';
  }

  p, a, li{
    font-family: 'Raleway-Regular';
  }

  i, em {
     font-family: 'Raleway-Italic'
  }

  .app-name{
    font-family: 'PoiretOne';
    margin-left: 0.5em;
    margin-top: 0.3em;
  }

 .footer-logo{
   width: 3em;
 }

 /*Configuring and defining nav-list and nav-list-items*/

 .top-nav{
    position: -webkit-sticky;
    position: sticky;
    height: 50%;
    padding-top: 1px;
    top: -0.1em;
    background-color: white;
 }

 .nav-list{
   list-style-type: none;
   display: flex;
 }

 .nav-list-item{
   font-family: 'button-text';
 }

 .nav-list-item a{
   text-decoration: none;
   color: #404040;
 }

 .top-menu{
  justify-content: flex-end;
  top: 0;
  right: 0;
 }

 .float-breaker{
   clear: both;
   margin: 0; 
 }

 .footer-menu{
  justify-content: space-evenly;
  width: 80%;
  margin:auto
 }

 footer{ 
   background-color: black; 
   margin-bottom: 0; 
   height: 20em;
 }

 footer h1{
   font-family: 'PoiretOne';
   color: white;
   text-align: center; 
   border-bottom: 1px solid white;
   width: 80%; 
   margin:auto;
 }

 a.icon{
   display: none;
 }

 /* mobile sizes*/
 /*Phone portrait*/
 @media only screen and (max-width: 600px) {
    
    .app-name{
      font-size: 2em; 
    }

    /* Configuring top menu */
      /*Icon list item decoration*/
      a.icon{
        text-decoration: none;
        display: inline-block;
        position: absolute;
        top: 0; 
        right: 0;
        color: black;
        padding: 1em 1em;
      }

      a.icon:active{
        color:white;
        background-color: black;
      }

      /*Defining the formatting of a nav-list item before being responsive*/
      .top-nav li.nav-list-item{
        display: none;
      }

      /*defining styles for when the top-navigation is set to be responsive*/      
      .top-nav .nav-list.top-menu.responsive{
        margin-bottom: 30px;
      }

      .nav-list.top-menu.responsive {
        background-color: white;
        display: block;
        position: absolute;
        width: 75%;
        z-index: 2;
        top: 0;
        right:0;
      }

      .nav-list.top-menu.responsive .nav-list-item{
        display: block;
        margin-top: 1em;
        margin-bottom: 1em;
      }
    
    /* Programming Languages Section */
    .programming-languages ul{
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      align-content: center;
    }

    /*Configuring footer element*/

    footer{
      height: 10em;
    }

    footer h1{
      font-size:1.5em;
      width: 70%;
      margin-bottom: 10px;
    }

    footer nav{
      padding-top: 15%;
    }

    .nav-list .footer-menu{
      width: 80%;
      display: block;
    }

    .footer-logo{
      width: 1em;
    }
 }

 /*Phone landscape*/
 @media only screen and (min-width: 600px){
  .app-name {
    font-size: 2.5em;
  }


  /* Configuring top menu */
      /*Icon list item decoration*/
      a.icon{
        text-decoration: none;
        font-size: 1.3em;
        display: inline-block;
        position: absolute;
        top: 0; 
        right: 0;
        color: black;
        padding: 1em 1em;
      }

      a.icon:active{
        color:white;
        background-color: black;
      }

      /*Defining the formatting of a nav-list item before being responsive*/
      .top-nav li.nav-list-item{
        display: none;
      }

      /*defining styles for when the top-navigation is set to be responsive*/      
      .top-nav .nav-list.top-menu.responsive{
        margin-bottom: 30px;
      }

      .nav-list.top-menu.responsive {
        background-color: white;
        display: block;
        position: absolute;
        width: 75%;
        z-index: 2;
        top: 0;
        right:0;
      }

      .nav-list.top-menu.responsive .nav-list-item{
        display: block;
        margin-top: 1em;
        margin-bottom: 1em;
      }


 }