<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ site.title }}</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="assets/layouts_styles/normalize.css">
        <link rel="stylesheet" type="text/css" href="assets/layouts_styles/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="assets/layouts_styles/main.css">
        <!--Font name Advent pro-->
        <link href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200;400;500&family=Raleway:wght@100&display=swap" rel="stylesheet"> 

    </head>
    <body>
        <header>
            <h1>{{ site.title }} </h1>
            
            <nav class="horizontal-logo-nav">
                <ul>
                    <li><img src="assets/images/linkedin.png"></li>
                    <li><img src="assets/images/lattes.png"></li>
                    <li><img src="assets/images/researchgate_logo_treatedt.png"></li>
                    <li><img src="assets/images/github.png"></li>
                    <div class="float-breaker"></div>
                </ul>
            </nav>
            <h3 id="email">{{ site.email }}</h3>
        </header>
        <div id="cv-content">
            <section class="cv-section">
                
                <h2 class="cv-section-title">Formation</h2>

                <section>
                    <h3 class="cv-subsection-title"> Formation Title</h3>
                    <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Curabitur blandit pretium velit, eu elementum ante porttitor sed. 
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Nullam nisl massa, accumsan vitae turpis vel, ullamcorper venenatis nibh. 
                    Cras pretium condimentum orci, maximus molestie leo sollicitudin sed. 
                    </p>
                </section>
            </section>
            <section class="cv-section">
                <h2 class="cv-section-title"> Research projects I worked on</h2>
                
                <section>
                    <h3 class="cv-subsection-title"> Project title</h3>
                    <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Curabitur blandit pretium velit, eu elementum ante porttitor sed. 
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Nullam nisl massa, accumsan vitae turpis vel, ullamcorper venenatis nibh. 
                    Cras pretium condimentum orci, maximus molestie leo sollicitudin sed. 
                    </p>
                </section>
            
            </section>
            <section class="cv-section">

                <h2 class="cv-section-title">Publications</h2>
                
                <section>
                    <h3 class="cv-subsection-title"> Publication title</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Curabitur blandit pretium velit, eu elementum ante porttitor sed. 
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Nullam nisl massa, accumsan vitae turpis vel, ullamcorper venenatis nibh. 
                        Cras pretium condimentum orci, maximus molestie leo sollicitudin sed. 
                    </p>
                </section>

            </section>
        </div>
        <footer>
            <h1>{{site.title}}</h1>
            <nav class="horizontal-logo-nav">
                <ul>
                    <li><img src="assets/images/linkedin.png"></li>
                    <li><img src="assets/images/lattes.png"></li>
                    <li><img src="assets/images/researchgate_logo_treatedt.png"></li>
                    <li><img src="assets/images/github.png"></li>
                    <div class="float-breaker"></div>
                </ul>
                <h3 id="email">{{ site.email }}</h3>
            </nav>
        </footer>

    </body>
</html>